@import url(./Constantes.css);


*{
    box-sizing: border-box;
}
/* Estilos de imagen Herramienta de autoevaluacion */
.slider-area2 {
    background-color: var(--cabecera);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-height2 {
    height: 26.5rem;
    background-size: cover;
}

.slider-area2 .hero-cap h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
}

@media (max-width: 575px){
.slider-area2 .hero-cap h2 {
    font-size: 35px;
}
}

/* FIN Estilos de imagen Herramienta de autoevaluacion */

/* Espacio */
.Espacio{
    padding-top: 4.5rem;
}
/* FIN Espacio */

/*Section*/
.title1 {
    color: #104141;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    
}

.title3 {
    color: #50CB93;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.texto  {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    color: #16161a;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

center{
    margin-bottom: 3.5rem;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    padding-bottom: 0.5rem;
}

.blog_post img {
    max-width: 100%;
}

.blog_post .blog_details h2 {
    color: #006D77;
    font-family: "Montserrat", sans-serif;
}


.tabla-responsiva{
overflow-x: auto;
}



.button-blog{
    padding: 5px 31px;
    font-size: 14px;
    background: var(--main-haed);
    border-color: var(--non-white-haed);
    color: var(--non-black-haed);
    font-weight: bolder;
    transition: all 0.4s ease;
}

.button-blog:hover{
    padding: 5px 31px;
    font-size: 14px;
    font-weight: 500;
    background: var(--main-haed);
    color: white;
   transition: all 0.4s ease;
    text-decoration: none;
}

.cabecera-tabla{
    background-color: var(--main-haed);
    color: white;
    font-size: 1.2rem;
}
/*Fin Section*/