@import url(./Constantes.css);

div.row{
    margin-right: 0px;
}



div.container-fluid{
    padding-right: 0px;
}

footer{
    background-color: var(--haed);
    padding: 10pt;
}

.foot p{
    font-family:'Montserrat', sans-serif;
    color:var(--const-white);
    line-height: 21pt;
    font-weight:400;
    
}
.foot a{
    font-family:"Montserrat", sans-serif;
    text-decoration: none;
    color: var(--white);
}
.foot a:hover{
    text-decoration:underline;
    color:var(--white);
    padding-left: 4pt;
}
.foot ul{
    font-family:"Montserrat", sans-serif;
    list-style-type: none;
    padding-left: 0;
    line-height: 30pt;
}
.foot h4{
    font-family:"Montserrat", sans-serif;
    color:#ffffff;
    text-transform: uppercase;
    
    font-size: large;
    padding-bottom: 10pt;
    font-weight:bold;

}
.foot #correos{
    text-transform: capitalize;
    color: #ffffff;
    font-size: x-large;
    font-weight: 500;
    font-weight:bold;
}
.foot #electronicos{
    color:var(--black);
    text-transform: capitalize;
    font-size: x-large;
    font-weight:bold;
}
.foot #footer-bottom{
    border:10pt;
    border-color: var(--black);
    
    padding-top: 10pt;

}

hr{
    color: var(--black);
    width: 100%;
}
