:root{
    --main-haed:#104141;
    --light-b-haed:#006d77;
    --light-haed:#3ea175;
    --gray-haed:#808080;
    --non-white-haed:#f5f5f5;
    --non-black-haed:#16161a;

    
}
@font-face{
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}



div.row{
    margin-right: 0px;
}
 
div.container-fluid{
    padding-right: 0px;
}

footer{
    background-color: var(--main-haed);
    padding: 10pt;
}

p{
    font-family:'Montserrat', sans-serif;
    color: white;
    line-height: 21pt;
    font-weight:400;
    
}
a{
    font-family:"Montserrat", sans-serif;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration:underline;
    color:white;
    padding-left: 4pt;
}
ul{
    font-family:"Montserrat", sans-serif;
    list-style-type: none;
    padding-left: 0;
    line-height: 30pt;
}
h4{
    font-family:"Montserrat", sans-serif;
    color:white;
    text-transform: uppercase;
    
    font-size: large;
    padding-bottom: 10pt;
    font-weight:bold;

}
#correos{
    text-transform: capitalize;
    color: white;
    font-size: x-large;
    font-weight: 500;
    font-weight:bold;
}
#electronicos{
    color:black;
    text-transform: capitalize;
    font-size: x-large;
    font-weight:bold;
}
#footer-bottom{
    border:10pt;
    border-color: black;
    
    padding-top: 10pt;

}

hr{
    color: black;
    width: 100%;
}
