@import url(./Constantes.css);



header{
    padding-top: 10pt;
    background-color: var(--haed);  
}
  #reloj{
    color:yellow;
    text-align: right;
    display: inline;
    margin-right: 6pt;
    padding-top: 5pt;
  }
  #date{
    text-align: start;
    color: white;
    padding-top: 5pt;
  }
  #dropdown-basic{
    background-color: var(--haed);
    margin: var(--haed);  
    border-color: white;
    margin-bottom: 10pt;
  }
  #Title{
    padding-top: 5pt;
    font-weight: bold;
  }
  p{
    font-weight: bolder;
    font-family: 'Montserrat';
    color:white;
  }
  