/*!Configuraciones de estilos - fuentes - config bootstrap*/
@import url(./Constantes.css);


body{
    background-color: var(--white);
}
div.row{
    margin-right: 0;
}
 
div.container-fluid{
    padding-right: 0px;
}
/**Primera sección Index*/
#hero{
    max-width: 100%;
}
#img2p{
    margin-bottom: 20pt;
}
h1{
    font-family: 'Montserrat';
    color:var(--titulos);
    font-weight:600;
    font-size: 30pt;
    
}
#contestar{
    padding:10pt;
    margin-top:50pt;
    margin-left: 0;
    padding-left: 15pt;
    padding-right: 15pt;
    background-color: var(--light-haed);
    color:var(--white);
    border: none;
    font-weight:bolder;
    font-family: 'Montserrat';
    height: 20px;
    border-radius: 5pt;

}
#contestar:hover{
    background-color:var(--titulos);
    color:var(--white);
}

/**TARJETA DE DEFINICION HAED*/

#definicion{
    background-color:var(--non-white-haed);
    padding: 40pt;
    margin-bottom: 40pt;
}
.info p{
    color:var(--black);
    font-family: 'Montserrat';
    font-weight: lighter;
}
h2{
    font-weight: lighter;
    font-family: 'Montserrat';
    color:var(--light-b-haed);
}
ol{
    list-style: none;
}
li{
    font-weight: bold;
    padding-top: 5pt;
    font-family: 'Montserrat';
    color: var(--black);
    
}
#cicleCheck{
    color:green;
    margin-right: 10pt;
}

/* *CUERPOS ACADÉMICOS*/

.cuerpos h1{
    font-size: 25pt;
    font-weight: 400;
    font-family: 'Montserrat';
}
.cuerpos h2{
    color:var(--titulos);
    font-size:x-large;
   font-weight: 600;   
   font-family: "Montserrat", sans-serif;
}
.cuerpos h3{
    color: var(--light-b-haed);
    font-family: "Montserrat", sans-serif;
    font-size: larger;
}
.cuerpos p{
    color:var(--black);
    font-family: 'Montserrat';
    font-weight: lighter;
}
.cuerpos #fichaTic {
    margin-bottom: 20pt;
}

.cuerpos #fichaTic:hover{
    cursor: pointer;
    border-left: 5pt var(--gray-haed) solid;
    
}
.cuerpos #fichaTicA {
    margin-bottom: 20pt;
    border-left: 5pt #808080 solid;
}
.cuerpos #fichaTicA h2{
    color: var(--light-haed);
}
.cuerpos #fichaTicA:hover{
    cursor: pointer;
}
.cuerpos #fichaCalidad {
    margin-bottom: 20pt;
}

.cuerpos #fichaCalidad:hover{
    cursor: pointer;
    border-left: 5pt var(--gray-haed) solid;
    
}
.cuerpos #fichaCalidadA {
    margin-bottom: 20pt;
    border-left: 5pt var(--gray-haed) solid;
}
.cuerpos #fichaCalidadA h2{
    color: var(--light-haed);
}
.cuerpos #fichaCalidadA:hover{
    cursor: pointer;
}



#contenedorImagen{
    visibility: visible;
    display: block;
}
#contenedorTIC{
    visibility: hidden;
    display: none;
    color: var(--black);
}
#contenedorCalidad{
    visibility: hidden;
    display: none;
    color: var(--black);
}
/**Tarjetas*/
#tarjeta{
    padding: 17pt;
    margin-right: 5pt;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    margin-bottom: 30pt;
    margin-top: 30pt;    
    height: 80%;
    background-color: var(--white);
    color: var(--black);

}



#tarjeta p{
    color:var(--black);
    font-weight: lighter;
}
#iconCard{
    color: var(--light-b-haed);
    font-size: 30pt;
}
.cards h1{
    color: var(--black);
    font-size: 22pt;
    font-weight: 400;
    font-family: 'Montserrat';
}
.cards p{
    color:var(--black);
    font-family: 'Montserrat';
    font-weight: lighter;
}

/**Portafolio de imagenes HAED*/
.portafolio{
    margin-top: 20pt;
    margin-bottom: 20pt;
}
.portafolio h1{
    font-size: 25pt;
    font-weight: 400;
    font-family: 'Montserrat';
}
.portafolio img{
    margin-bottom: 10pt;
}