:root{
  --main-haed:#104141;
  --light-b-haed:#006d77;
  --light-haed:#3ea175;
  --gray-haed:#808080;
  --non-white-haed:#f5f5f5;
  --non-black-haed:#16161a;

  
}
@font-face{
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}


.imagen{
    max-width: 100px;
  }
  #links{
    text-align: left;
    color:black;
    padding-left: 30pt;
    font-family: 'Montserrat';
  }
  #collapse{
    text-align: right;
    align-items:end;
  }
  Navbar{
    z-index: -1;
    position: fixed;
    top:0;
  }
  