@import url(./Constantes.css);

.imagen{
    max-width: 100px;
  }
  #links{
    text-align: left;
    color:black;
    padding-left: 30pt;
    font-family: 'Montserrat';
    padding-bottom: 5pt;
  }
  #collapse{
    text-align: right;
    align-items:end;
  }
  Navbar{
    z-index: -1;
    position: fixed;
    top:0;
  }
  