:root{
    --main-haed:#104141;
    --light-b-haed:#006d77;
    --light-haed:#3ea175;
    --gray-haed:#808080;
    --non-white-haed:#f5f5f5;
    --non-black-haed:#16161a;

    
}
@font-face{
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}

.bar{
    align-items: center;
    text-align: center;
    padding-top: 110pt;
    padding-bottom: 110pt;
    background-color: var(--light-b-haed);
    color:white;
    margin-bottom: 10%;
}
.bar h1{
    font-size: 50pt;
    color:white;
}