@import url(./Constantes.css);
.bar{
    align-items: center;
    text-align: center;
    padding-top: 110pt;
    padding-bottom: 110pt;
    background-color: var(--cabecera);
    color:var(--white);
    margin-bottom: 10%;
}
.bar .display-1 {
    font-family: 'Montserrat';
}